body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-image: url("https://s.yimg.com/ny/api/res/1.2/UCvOhchvyeJmTyTrcP0HjA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/pt-BR/homerun/pt.goal.com/6b5731e34fe87f885cec64c4cececc3b");
}
.imgarticle {
    width: 90%;
    padding: 25px;
    padding-bottom: 20px;
    border: white 2px;
}
h3 {
    padding: 25px;
    color: white;
    text-shadow: white;
}
p {
    padding: 20px;
    color: white;
    text-shadow:white 100%;
}
.imginfo {
    padding-top: 30px;
    width: 55px;
    height: 55px;
    border: white 2px;
}
.imgAS {
    width: 90%;
    padding: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: white 2px;
}
.fundo {
    opacity: 100%;
    box-shadow: black;
}
footer {
    font-family: Arial, Helvetica, sans-serif !important;
    box-shadow: black !important;
    background-image:url("https://thumbs.dreamstime.com/t/madri-espanha-o-de-abril-bandeira-ondula%C3%A7%C3%A3o-da-textura-tela-liga-do-campe%C3%A3o-real-madrid-c-f-clube-futebol-118477545.jpg");
    opacity: 90% !important;
    text-align: center;
    height: 225px !important;
}